%fieldset
  %legend
    = controller.action_name.capitalize
    Company
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name
  .control-group
    = f.label :department, :class => 'control-label'
    .controls
      = f.text_field :department
  .control-group
    = f.label :phone, :class => 'control-label'
    .controls
      = f.text_field :phone
  .control-group
    = f.label :fax, :class => 'control-label'
    .controls
      = f.text_field :fax
  .control-group
    = f.label :address, :class => 'control-label'
    .controls
      = f.text_area :address, :rows => 3
  .control-group
    = f.label :email, :class => 'control-label'
    .controls
      = f.text_field :email
  .control-group
    = f.label :category, :class => 'control-label'
    .controls
      = f.text_field :category
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Cancel", companies_path, :class => 'btn'
