= f.error_notification
%fieldset
  %legend
    = controller.action_name.capitalize
    Company
  = f.input :name, :label => "Company Name"
  = f.input :department
  = f.input :phone
  = f.input :fax
  = f.input :address, :as => :text
  = f.input :email
  = f.input :category, :hint => "e.g. Auto Loans or Credit Card"

