.control-group
  = f.label :title, :class => "control-label"
  .controls
    = f.text_field :title, :class => 'input-xlarge'
.control-group
  = f.label :company_id, :class => "control-label"
  .controls
    = f.select :company_id, Company.all.map {|c| [ c.name, c.id ] } + [["Other", '']]
.control-group
  = f.label :disputed_amount, :class => "control-label"
  .controls
    = f.text_field :disputed_amount, :class => 'input-small'
.control-group
  = f.label :description, :class => "control-label"
  .controls
    = f.text_area :description, :size => '', :class => "input-xxlarge"
.control-group
  = f.label :private, :class => 'control-label'
  .controls
    = f.check_box :private
    %span.help-block The dispute will only be visible to you. You will not be able to receive help and advice from other users.

.form-actions
  %button{:class => "btn primary", :type => "submit"} Save
  or
  = link_to "Cancel", disputes_path
