%h1= @dispute.title
%p 
  %b= t("activerecord.attributes.company.name", :default => t("activerecord.labels.company_name", :default => "Company")) + ":"
  = @dispute.company.name
%p 
  %b= t("activerecord.attributes.dispute.disputed_amount", :default => t("activerecord.labels.disputed_amount", :default => "Disputed amount")) + ":"
  = @dispute.disputed_amount
%b= t("activerecord.attributes.dispute.description", :default => t("activerecord.labels.description", :default => "Description")) + ":"
%p= @dispute.description

.form-actions
  = link_to "Back", disputes_path, :class => 'btn'
  = link_to "Edit", edit_dispute_path(@dispute), :class => 'btn'
  = link_to "Delete", dispute_path(@dispute), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn'
